<!-- Explorer -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">New class</h4>
          </div>
          <div class="modal-body">
              <label>Name</label><input/>
              <label>Package</label><input/>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">New interface</h4>
          </div>
          <div class="modal-body">
              <label>Name </label><input/>
              <label>Package</label><input/>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">New folder</h4>
          </div>
          <div class="modal-body">
              <label>Name </label><input/>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
    </div>
</div>
<div id="sidebar" data-ng-controller="explorerCtrl">

	<ul class="control">
		<li class="glyphicon glyphicon-refresh" class="toolBar"></li>
		<li class="glyphicon glyphicon-play-circle" class="toolBar" ng-click="compileandrun()"></li>
		<li class="dropdown pull-right">
		    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i></a>
				<ul class="dropdown-menu">
					<li><a href="#" class="glyphicon glyphicon-file pull-right" data-toggle="modal" data-target="#myModal">New Class </a></li>
					<li class="divider"></li>
					<li><a href="#" class="glyphicon glyphicon-file pull-right" data-toggle="modal" data-target="#myModal2">New Interface </a></li>
					<li class="divider"></li>
					<li><a href="#" class="glyphicon glyphicon-file pull-right" data-toggle="modal" data-target="#myModal3">New Folder </a></li>
				</ul>
		</li>
	</ul>
	
	<abn-tree tree-data="files" on-select="loadFile(branch)"></abn-tree>
	
	<ul class="list-unstyled hidden-xs" id="sidebar-footer">
		<li>INF380</li>
	</ul>

</div>