<div ng-controller="explorerCtrl">
<div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse"
            data-target=".navbar-collapse">
        <span class="sr-only">Toggle</span> <span class="icon-bar"></span> <span
            class="icon-bar"></span> <span class="icon-bar"></span>
    </button>
    <a href="" class="navbar-brand logo"><span class="glyphicon glyphicon-chevron-left"></span></a>

</div>
<nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
        <li class="dropdown">   
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="File.jsp">New file</a></li>
                <li><a href="Project.jsp">New project</a></li>
            </ul>
        <li><span  class="btn btn-default boutmenu" ng-click="compile()">Compile</span></li>
        <li><span  class="btn btn-default boutmenu" ng-click="run()">Run</span></li>
        <li><span  class="btn btn-default boutmenu" ng-click="compileandrun()">Compile & run</span></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="" class="dropdown-toggle"
                                data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
            <ul class="dropdown-menu">
                <li><a href="LoginForm.jsp">Sign In<span
                            class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="RegisterForm.jsp">Register<span
                            class="glyphicon glyphicon-stats pull-right"></span></a></li>
                <li class="divider"></li>
            </ul></li>
    </ul>

</nav>

</div>