<style>
div.ex {
position: relative;
  background-color: #e0e0e0;
  padding: 10px 10px 6px 10px;
  border-radius: 4px 4px 0 0;
  height: 38px;
  overflow: hidden; 
}
div.console{
background-color:black;
position:left;
height:300px;
padding:5px;
width:1000;
overflow:scroll;
}
</style>
<body>

<div class="ex" >Console</div>
<div class="console" >No consoles to display at this time.<br>No consoles to display at this time.<br>
No consoles to display at this time.<br>No consoles to display at this time.<br>
No consoles to display at this time.<br>
No consoles to display at this time.<br>
No consoles to display at this time.<br>
No consoles to display at this time.<br>
No consoles to display at this time.<br>
No consoles to display at this time.<br>
</div>
</body>
